<form (ngSubmit)="addTask(tasksForm.value)" [formGroup]="tasksForm">
    <div>
        <label>Task name</label><input type='text' formControlName="name">
    </div>
    <div>
        <label>Category</label><input type='text' formControlName="category">
    </div>
    <div>
        <label>Description</label><input type='text' formControlName="description">
    </div>
    <div>
        <label>Reminder</label><input type="text" formControlName="reminder">
    </div>
    <div>
        <label>Frequency</label><input type="text" formControlName="frequency">
    </div>
    <div class="buttons_list">
        <button type="submit" [disabled]='tasksForm.invalid'>Create</button>
        <button (click)="resetForm()">Reset</button>
        <button>Cancel</button> 
    </div>       
</form>