<h2 class="create-task-title col-6">Add a task !</h2>
<form [formGroup]="tasksForm" style="width: 50%;
margin: auto;">
    <div class="formDiv">
        <label class="col-2">Task name</label><input class="col-8" type='text' formControlName="name">
    </div>
    <div class="formDiv">
        <label class="col-2">Category</label><input class="col-8" type='text' formControlName="category">
    </div>
    <div class="formDiv">
        <label class="col-2">Description</label><input class="col-8" type='text' formControlName="description">
    </div>
    <div class="formDiv">
        <label class="col-2">Reminder</label><input class="col-8" type="text" formControlName="reminder">
    </div>
    <div class="formDiv">
        <label class="col-2">Frequency</label><input class="col-8" type="text" formControlName="frequency">
    </div>
    <div class="buttons_list formDiv">
        <button (click)="addTask(tasksForm.value)" [disabled]='tasksForm.invalid'>Create</button>
        <button (click)="resetForm()">Reset</button>
        <button routerLink="/home">Cancel</button> 
    </div>       
</form>