<div style="display: flex;">
    <!-- List of tasks -->
    <div class="col-10">
        <div *ngFor="let eachYear of tasksClassified">
            <!-- Year -->
            <h3>{{eachYear[0]}}</h3>
            <!-- eachYear[1] = array containing obects with the month as key and the list of tasks in another array  -->
            <div *ngFor="let month of getKeys(eachYear[1]); index as i">
                <!-- Month -->
                <p>{{month}}</p>
                <!-- Each task -->
                <div *ngFor="let taskArray of getValues(eachYear[1])[i] ">
                    <tm-task [task]="taskArray.task">            
                    </tm-task >
                </div>

            </div>

        </div>        
                
    </div>
    <div class="col-2" routerLink="/createTask">
        bouton ajout        
    </div>

</div>
