.toast-label {
    font-weight: 700; 
    font-size: 20px;
    animation: 5s ease-out disappear;
}

@keyframes disappear {
    75% {
        opacity: 0.3;
    }
    100% {
        opacity: 0;
    }
}

@mixin icon($status) {
    font-size: 25px;
    animation: 5s ease-out disappear;
    margin-left: 10px;
    @if $status == 'success' {
        color: rgb(35, 214, 80);
    }
    @else if $status == 'error' {
        color: red;
    }    
}

.toast-icon-success {
    @include icon('success');
}

.toast-icon-error {
    @include icon('error');
}