<svg style="width: 200px; height: 100px;">
    <!-- Les enfants de g héritent de ses attributs de présentation -->
    <g>
      <circle cx="40" cy="40" r="10" fill=blue>
        <animate attributeName="r" begin="0s" dur="1100ms" repeatCount="indefinite" from="3%" to="7%"/>
      </circle>
      <circle cx="75" cy="40" r="10" fill=#baacab>
        <animate attributeName="r" begin="400ms" dur="1100ms" repeatCount="indefinite" from="3%" to="8%"/>
      </circle>
      <circle cx="110" cy="40" r="10" fill=red>
        <animate attributeName="r" begin="800ms" dur="1100ms" repeatCount="indefinite" from="3%" to="9%"/>
      </circle>
    </g>
  </svg>